<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>

	<section>

		<div class="card">

			<div class="card-body">
				<h1 class="text-center">Change Password</h1>
				<form th:action="@{/user/chnage-password}" method="post">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Enter
							old Password :</label> <input name="oldpass" type="password"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Enter
							New Password:</label> <input name="newpass" type="password"
							class="form-control" id="exampleInputPassword1">
					</div>
					<div class="container text-center">
						<button type="submit" class="btn btn-success ">change</button>
						<button type="reset" class="btn btn-warning ">Reset</button>
					</div>

				</form>

			</div>
			<br />
			<div class="card">
				<div class="card-body">
					<h1 class="text-center">Subscription</h1>
					
					
						<label for="exampleInputEmail1" class="form-label"> Enter
							amount here :</label> 
						<input id="payment_field" type="text" class="form-control my-2" placeholder="Enter amount here" />
				
						<div class="container text-center">
						<button onclick="paymentStart()" class="btn btn-success btn-block">PAY</button>
						</div>
				
				

				</div>
			</div>

		</div>

		<script>
	
	$(document).ready(()=>{
		$(".item").removeClass("active");
		$("#setting-link").addClass("active");
		
	});
	
	</script>

	</section>
</body>
</html>