<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change password form</title>
</head>
<body>

	<section class="signinbanner">
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12" style="height: 250px">
			
							<div class="container text-center mt-3">
							<h2>Change Password</h2>
							</div>

							<form th:action="@{/change-password}" method="post">

								<div class="form-group m-2">

									<label>Enter New Password :</label> 
									<input required name="newpass"
										type="text" placeholder="Enter here" class="form-control">

								</div>

								<div class="container text-center">

									<button class="btn btn-primary">Change</button>

								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>